/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  background-color: #FF774D;
  color: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.171);
  outline: none;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 0.7em 0.8em;
  position: relative;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border-radius: 3px;
  align-self: center;
}
.btn:hover {
  box-shadow: 0px 4px 10px 0px rgba(50, 50, 93, 0.226), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.btn-first {
  color: #FF774D;
  background: transparent;
  box-shadow: inset 0px 0px 0px 1px, 0px 1px 2px 0px rgba(0, 0, 0, 0.171);
}
.btn-first:hover {
  background: transparent;
  box-shadow: inset 0px 0px 0px 1px, 0px 4px 10px 0px rgba(50, 50, 93, 0.226), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.btn--large {
  font-size: 1.2em;
  font-size: 16.8px;
}

.header {
  background-color: #1A1A1A;
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.l-header-container {
  flex-grow: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo {
  display: block;
  width: 150px;
  height: 100%;
}

.hero {
  padding-top: 72px;
  padding-bottom: 6rem;
  color: white;
  background-color: #337AB7;
}

.l-hero-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-grid {
  padding-left: 30px;
  padding-right: 30px;
  background-color: tomate;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 640px) {
  .hero-grid {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-grid {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.hero__title {
  font-family: "Roboto Condensed";
  line-height: 1.1;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 1rem;
}
@media screen and (min-width: 640px) {
  .hero__title {
    padding-bottom: 2rem;
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 45px;
  }
}

.hero__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2rem;
  font-family: "Roboto";
}
@media screen and (min-width: 640px) {
  .hero__subtitle {
    font-size: 21px;
    padding-bottom: 1.4rem;
  }
}

.l-interview {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .l-interview {
    padding: 0;
  }
}

@media screen and (min-width: 640px) {
  .grid-interview-left {
    grid-column: 1/7;
  }
}
@media screen and (min-width: 1024px) {
  .grid-interview-left {
    grid-column: 2/6;
  }
}

.interview {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.grid-interview {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 640px) {
  .grid-interview {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
}

.interview__blockquote {
  background-color: #F9F9F9;
  border-radius: 0.5rem;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
}

.interview__name {
  display: block;
  padding-top: 2rem;
}

.interview__list-of-tag {
  margin-top: 1.5rem;
}

.tag {
  display: inline-block;
  border-radius: 0.5rem;
  background-color: #CFE6FF;
  padding: 0.2rem 0.5rem 0.3rem;
  margin: 0.23rem 0.1rem;
}

.container-media {
  border-radius: 0.5rem;
  background-color: yellow;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 640px) {
  .container-media {
    grid-column: 7/13;
  }
}
@media screen and (min-width: 1024px) {
  .container-media {
    grid-column: 6/12;
  }
}

.logos {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: hsla(0, 0%, 0%, 0.9);
}

.l-logos {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.grid-logos {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 480px) {
  .grid-logos {
    grid-template-columns: repeat(4, 1fr);
  }
}

.logos__logo {
  width: 140px;
  height: 60px;
  object-fit: contain;
}

.container-img-logos {
  display: flex;
  justify-content: center;
}

.testimonies {
  background-color: #F5F5F5;
  padding-top: 2rem;
}

@media screen and (min-width: 680px) {
  .grid-testimonies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
}

.l-testimonies {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.testimonies__title {
  text-align: center;
  color: rgb(76, 76, 76);
  font-weight: 700;
  font-size: 30.4px;
  font-family: "Roboto Condensed";
  padding-bottom: 2rem;
  white-space: normal;
  /* permite saltos naturales */
  word-break: keep-all;
  /* mantiene las palabras completas */
}
@media screen and (min-width: 640px) {
  .testimonies__title {
    font-size: 38px;
  }
}

.testimonies__item {
  white-space: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  max-width: 500px;
}
@media screen and (min-width: 1024px) {
  .testimonies__item {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.testimonies__img-container {
  background-color: yellow;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin-bottom: 2rem;
}

.testimonies__info {
  color: rgb(76, 76, 76);
  text-align: center;
  font-family: "Roboto";
  line-height: 1.7;
  font-size: 1.4rem;
}

.testimonies__name {
  margin-top: 1rem;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #7e666c;
}

.benefits {
  background-color: #327AB7;
  color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
}

.l-benefits {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 750px) {
  .benefits__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    align-items: center;
  }
}

.benefits__title {
  font-family: "Roboto Condensed";
  text-align: center;
  padding-bottom: 2rem;
  font-size: 30px;
  line-height: 1.4;
}

.benefits__headline {
  line-height: 1;
  font-size: 45px;
  padding: 0;
}

.benefits__info {
  font-family: "Roboto";
  padding-bottom: 2rem;
  font-size: 21px;
}

.benefits__list {
  list-style: none;
}

.benefits__item {
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 2rem;
}

.benefits__img-container {
  aspect-ratio: 16/9;
  background-color: tomato;
}

/*# sourceMappingURL=style.css.map */
