@charset "UTF-8";
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

#call {
  padding-bottom: 2rem;
}

html {
  scroll-behavior: smooth;
}

.btn {
  background-color: #B066FF;
  color: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.171);
  outline: none;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 0.7em 0.8em;
  position: relative;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border-radius: 3px;
  align-self: center;
  transition: all 0.3s ease;
}
.btn:hover {
  box-shadow: 0px 4px 10px 0px rgba(50, 50, 93, 0.226), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  background-color: #A000FF;
}

.btn.btn-white {
  color: white;
  background: transparent;
  box-shadow: inset 0px 0px 0px 1px, 0px 1px 2px 0px rgba(0, 0, 0, 0.171);
}
.btn.btn-white:hover {
  color: #B066FF;
}

.btn.btn-prueba-1 {
  background-color: #FFFFFF;
  color: #9300FF;
}
.btn.btn-prueba-1:hover {
  background-color: #E5E5E5;
}

.btn.btn-prueba-2 {
  background-color: #00CFFF;
  color: #fff;
}

.btn.btn-prueba-3 {
  background-color: #B066FF;
  color: #fff;
}
.btn.btn-prueba-3:hover {
  background-color: #A000FF;
}

.btn-first {
  color: white;
  background: transparent;
  box-shadow: inset 0px 0px 0px 1px, 0px 1px 2px 0px rgba(0, 0, 0, 0.171);
}
.btn-first:hover {
  background: transparent;
  box-shadow: inset 0px 0px 0px 1px, 0px 4px 10px 0px rgba(50, 50, 93, 0.226), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.btn--large {
  font-size: 1.2em;
  font-size: 16.8px;
}

.header {
  background-color: #1A1A1A;
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.l-header-container {
  flex-grow: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo {
  display: block;
  width: 150px;
  height: 100%;
}

.hero {
  padding-top: 72px;
  padding-bottom: 6rem;
  color: white;
  background-color: #9300FF;
  background: linear-gradient(135deg, #9300FF, #1A0033);
  background: radial-gradient(circle at center, #9300FF 0%, #1A0033 100%);
}

.l-hero-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-grid {
  padding-left: 30px;
  padding-right: 30px;
  background-color: tomate;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 640px) {
  .hero-grid {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-grid {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.hero__title {
  font-family: "Roboto Condensed";
  line-height: 1.1;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 1rem;
}
@media screen and (min-width: 640px) {
  .hero__title {
    padding-bottom: 2rem;
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 45px;
  }
}

.hero__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2rem;
  font-family: "Roboto";
}
@media screen and (min-width: 640px) {
  .hero__subtitle {
    font-size: 21px;
    padding-bottom: 1.4rem;
  }
}

.l-interview {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .l-interview {
    padding: 0;
  }
}

@media screen and (min-width: 640px) {
  .grid-interview-left {
    grid-column: 1/7;
  }
}
@media screen and (min-width: 1024px) {
  .grid-interview-left {
    grid-column: 2/6;
  }
}

.interview {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.grid-interview {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 640px) {
  .grid-interview {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
}

.interview__blockquote {
  font-size: 19px;
  font-style: italic;
  background-color: #F9F9F9;
  color: #7E666C;
  border-radius: 0.5rem;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  position: relative;
}
.interview__blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("./../../assets/brand/bg-pattern-quotation.svg");
  background-position: cover;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  translate: -50% -50%;
}

.interview__name {
  display: block;
  font-size: 15px;
  padding-top: 2rem;
}

.interview__list-of-tag {
  margin-top: 1.5rem;
}

.tag {
  color: #5A00A8;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: #E4CCFF;
  padding: 0.2rem 0.5rem 0.3rem;
  margin: 0.23rem 0.1rem;
  text-transform: uppercase;
}

.container-media {
  border-radius: 0.5rem;
  background-color: #5A00A8;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 640px) {
  .container-media {
    grid-column: 7/13;
  }
}
@media screen and (min-width: 1024px) {
  .container-media {
    grid-column: 6/12;
  }
}

.logos {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: hsla(0, 0%, 0%, 0.9);
}

.l-logos {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.grid-logos {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 480px) {
  .grid-logos {
    grid-template-columns: repeat(4, 1fr);
  }
}

.logos__logo {
  width: 140px;
  height: 60px;
  object-fit: contain;
}

.container-img-logos {
  display: flex;
  justify-content: center;
}

.testimonies {
  background-color: #F5F5F5;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.grid-testimonies {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 680px) {
  .grid-testimonies {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
}

.l-testimonies {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.testimonies__title {
  text-align: center;
  color: rgb(76, 76, 76);
  font-weight: 700;
  font-size: 30.4px;
  font-family: "Roboto Condensed";
  padding-bottom: 2rem;
  white-space: normal;
  /* permite saltos naturales */
  word-break: keep-all;
  /* mantiene las palabras completas */
}
@media screen and (min-width: 640px) {
  .testimonies__title {
    font-size: 38px;
  }
}

.testimonies__item {
  white-space: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}
@media screen and (min-width: 1024px) {
  .testimonies__item {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.testimonies__img-container {
  background-color: #5A00A8;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin-bottom: 2rem;
}

.testimonies__info {
  color: rgb(76, 76, 76);
  text-align: center;
  font-family: "Roboto";
  line-height: 1.7;
  font-size: 19px;
  position: relative;
  padding: 1rem;
}
@media screen and (min-width: 680px) {
  .testimonies__info {
    padding-top: 2rem;
  }
}
.testimonies__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../assets/brand/bg-pattern-quotation.svg");
  background-position: cover;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  translate: -50% -50%;
}

.testimonies__name {
  margin-top: 1rem;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #7e666c;
}

.benefits {
  background-color: #327AB7;
  color: #fff;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  background: linear-gradient(135deg, #9300FF, #1A0033);
  background: radial-gradient(circle at center, #9300FF 0%, #1A0033 100%);
}

.l-benefits {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 750px) {
  .benefits__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    align-items: center;
  }
}

.benefits__title {
  font-family: "Roboto Condensed";
  text-align: center;
  padding-bottom: 2rem;
  font-size: 30px;
  line-height: 1.4;
}

.benefits__headline {
  line-height: 1;
  font-size: 45px;
  padding: 0;
}

.benefits__info {
  font-family: "Roboto";
  padding-bottom: 2rem;
  font-size: 21px;
}

.benefits__list {
  list-style: none;
  display: grid;
  gap: 1rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 750px) {
  .benefits__list {
    padding-bottom: 0;
  }
}

.benefits__item {
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 500;
}

.benefits__img-container {
  aspect-ratio: 16/9;
  background-color: #E4CCFF;
}

.checks.grey {
  background-color: #F5F5F5;
}

.checks {
  background-color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #7e666c;
  padding-left: 2rem;
  padding-right: 2rem;
}

.l-checks {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.checks__list {
  display: block;
  text-align: center;
}

.checks__item {
  display: inline-block;
}
@media screen and (min-width: 640px) {
  .checks__item {
    display: inline-block;
  }
}

.checks__item-container {
  display: flex;
  align-items: center;
}

.checks__item-info {
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.service.service-white {
  background-color: white;
}

.service {
  background-color: #F5F5F5;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.l-service {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.service__title {
  font-size: 2rem;
  font-family: "Roboto Condensed";
  text-align: center;
  color: rgb(76, 76, 76);
  line-height: 1.3;
  padding-bottom: 3rem;
}

.grid-service {
  display: grid;
  gap: 3rem;
}
@media screen and (min-width: 600px) {
  .grid-service {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 800px) {
  .grid-service {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service__img-container {
  width: 4rem;
  height: 4rem;
  background-color: #5A00A8;
  border-radius: 50%;
}

.service__item-title {
  padding-top: 1rem;
  text-align: center;
  color: #4c4c4c;
  padding-bottom: 1rem;
}
@media screen and (min-width: 524px) {
  .service__item-title {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 600px) {
  .service__item-title {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.service__info {
  text-align: center;
  font-family: "Roboto";
  color: #7e666c;
  font-size: 15.4px;
}

.cta.cta-white {
  background-color: #fff;
}

.cta {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #5A00A8;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.l-cta {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.grid-cta {
  display: flex;
  flex-direction: column;
}

.cta__title {
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 30px;
  line-height: 1.3;
}

.cta__title.cta__title-grey {
  color: #4c4c4c;
}

.cta__subtitle {
  font-family: "Roboto";
  text-align: center;
  font-weight: 500;
  padding-bottom: 2rem;
  font-size: 21px;
}

.cta__subtitle.cta__subtitle-grey {
  color: #7e666c;
}

.average {
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.l-average {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-average {
  display: flex;
  flex-wrap: wrap;
  /* 🔥 Permite que los elementos bajen a la siguiente fila */
  justify-content: center;
  /* 🔥 Centra horizontalmente los elementos de cada fila */
  gap: 30px;
  /* Espacio entre elementos */
  max-width: 1000px;
  /* Ejemplo de límite de ancho */
  margin: 0 auto;
}

.average__card {
  flex: 0 1 260px;
  overflow: hidden;
  border-radius: 15px;
}

.average__title {
  font-size: 30px;
  font-family: "Roboto Condensed";
  padding-bottom: 60px;
  text-align: center;
  color: #4c4c4c;
}

.average__content {
  padding: 1rem;
  color: #4c4c4c;
}

.average__number {
  font-family: "Roboto Condensed";
  color: white;
  background-color: #337AB7;
  background-color: #5A00A8;
  text-align: center;
  font-size: 3rem;
}

.average__info-text {
  color: #7e666c;
  font-size: 17px;
}

.average__content {
  font-family: "Roboto";
}

.average-h {
  font-size: 20px;
}

.we-understand {
  padding-left: 30px;
  padding-right: 30px;
}

.l-we-understand {
  max-width: 1200px;
  margin: 0 auto;
}

.we-understand__title {
  font-family: "Roboto Condensed";
  color: #4c4c4c;
  font-size: 30px;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.we-understand__list {
  list-style: none;
  display: grid;
  justify-content: center;
  padding: 0;
}

.we-understand__item {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.icon-we-understand {
  flex-shrink: 0;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #5A00A8;
  border-radius: 50%;
}

.we-understand__info {
  font-size: 18px;
  max-width: 500px;
  font-family: "Roboto";
  color: #7e666c;
}

.lost_customers {
  color: white;
  background-color: #5A00A8;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
}

.l-lost_customers {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-lost_customers {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 600px) {
  .grid-lost_customers {
    grid-template-columns: repeat(2, 1fr);
  }
}

.lost_customers__title {
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 30px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 600px) {
  .lost_customers__item:last-child {
    grid-column: span 2;
  }
}

.lost_customers__item-title {
  font-family: "Roboto";
  font-size: 20px;
}

.lost_customers__item__info {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
}

.success-stories {
  background-color: #F5F5F5;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 4rem;
}

.l-success-stories {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-success-stories {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 600px) {
  .grid-success-stories {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.success-stories__title {
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 30px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #4c4c4c;
}

.success-stories__item {
  border-radius: 15px;
  overflow: hidden;
}

.container-img__successs-stories {
  background-color: yellow;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

.success__content {
  background-color: #FFf;
  color: #7e666c;
  padding: 1rem;
  font-family: "Roboto";
}

.success-stories__item-title {
  color: #4c4c4c;
  font-size: 20px;
  padding-bottom: 1rem;
}

.success-stories__info {
  padding-bottom: 1rem;
}

.success-stories__sector {
  font-style: italic;
}

.faq {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #5A00A8;
  padding-bottom: 4rem;
}

.l-faq {
  max-width: 1200px;
  margin: 0 auto;
}

.faq__title {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: "Roboto Condensed";
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container-icon-faq {
  width: 60px;
  height: 60px;
  background-color: #E4CCFF;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.faq__item__title {
  text-align: center;
  color: white;
  font-size: 25px;
  padding-bottom: 3rem;
}

.faq__content {
  display: grid;
  justify-content: center;
}

.accordion__item {
  max-width: 800px;
}
.accordion__item:last-child {
  border-bottom: 1px solid white;
  margin-bottom: 3rem;
}

.accordion__header {
  cursor: pointer;
  font-size: 18px;
  border-top: 1px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  padding-right: 2rem;
}

.accordion__header::after {
  position: absolute;
  content: "+";
  text-align: center;
  height: 20px;
  width: 20px;
  line-height: 14px;
  font-size: 20px;
  top: 20px;
  right: 10px;
  transition: transform 0.2s ease-in-out;
  transform: rotate(0);
  text-align: center;
}

.accordion__header.open::after {
  transform: rotate(135deg);
}

.accordion__body {
  font-family: "Roboto";
  font-size: 17px;
  display: none;
}

.accordion__body.active {
  display: block;
}

.locations {
  background-color: #000000;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 3rem;
  padding-top: 3rem;
  border-bottom: 1px solid white;
}

.grid-locations {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 600px) {
  .grid-locations {
    grid-template-columns: repeat(3, 1fr);
  }
}

.location_icon-container {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.location__item {
  text-align: center;
}

.footer {
  background-color: #000000;
  color: #FFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 30px;
  padding-right: 30px;
}

.l-footer {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 850px) {
  .grid-footer {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
}

.top-footer {
  padding-bottom: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

.grid-links-footer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 600px) {
  .grid-links-footer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
