@use "../abstracts/variables" as var_global;

$bg-color-default-btn: #B066FF;
$color-default-btn: #FFFFFF;
$bg-colo-default-btn-hover: #A000FF;

.btn {

    background-color: $bg-color-default-btn;
    color: $color-default-btn;

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .171);
    outline: none;
    text-decoration: none;
    // display: flex;
    display: inline-block;
    // display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 0.7em 0.8em;
    position: relative;
    justify-content: center;
    align-items: center; // good line
    line-height: 1;
    border-radius: 3px;
    align-self: center;
    transition: all 0.3s ease;

    // flex-grow: 1;


    &:hover {
        box-shadow: 0px 4px 10px 0px rgba(50, 50, 93, .226), 0px 1px 3px 0px rgba(0, 0, 0, .08);
        background-color: $bg-colo-default-btn-hover;
    }
}

.btn.btn-white {
    color: white;
    background: transparent;
    box-shadow: inset 0px 0px 0px 1px, 0px 1px 2px 0px rgba(0, 0, 0, .171);

    &:hover {
        color: #B066FF;
    }
}

.btn.btn-prueba-1 {
    background-color: #FFFFFF;
    color: #9300FF;

    &:hover {
        background-color: #E5E5E5;
    }
}

.btn.btn-prueba-2 {
    background-color: #00CFFF;
    color: #fff;
}

.btn.btn-prueba-3 {
    background-color: #B066FF;
    color: #fff;

    &:hover {
        background-color: #A000FF;
    }
}





.btn-first {
    color: white;
    background: transparent;
    box-shadow: inset 0px 0px 0px 1px, 0px 1px 2px 0px rgba(0, 0, 0, .171);

    &:hover {
        background: transparent;
        box-shadow: inset 0px 0px 0px 1px, 0px 4px 10px 0px rgba(50, 50, 93, .226), 0px 1px 3px 0px rgba(0, 0, 0, .08);
    }
}

.btn--large {
    font-size: 1.2em;
    font-size: 16.8px;
}