@use "../abstracts/variables" as var_globa;
@use "../abstracts/mixins" as mixins;
$color-text: #7E666C;
// $color-tag: #666666;
$color-tag: #5A00A8;
$bg-color-interview: #FFFFFF;
$bg-color-blockquote: #F9F9F9;
// $bg-color-tag: #CFE6FF;
$bg-color-tag: #E4CCFF;

.l-interview {
    $separation-padding: 2rem;
    padding-left: $separation-padding;
    padding-right: $separation-padding;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @include mixins.mq(large) {
        padding: 0;
    }

}

.grid-interview-left {

    @include mixins.mq(medium) {
        grid-column: 1 / 7;

    }

    @include mixins.mq(large) {
        grid-column: 2 / 6;
    }

}

.interview {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.grid-interview {
    display: grid;
    gap: 1.5rem;

    @include mixins.mq(medium) {
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
    }
}

.interview__blockquote {
    font-size: 19px;
    font-style: italic;
    background-color: $bg-color-blockquote;
    color: $color-text;
    border-radius: 0.5rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    position: relative;

    &::before {
        // color: white;
        $icon-size: 40px;
        content: '';
        position: absolute;
        // border: 1px solid red;
        top: 0;
        left: 0;
        background: url("/assets/brand/bg-pattern-quotation.svg");
        background-position: cover;
        height: $icon-size;
        width: $icon-size;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        // top: -10;
        translate: -50% -50%;

    }


}





.interview__name {
    display: block;
    font-size: 15px;
    padding-top: 2rem;
}

.interview__list-of-tag {
    margin-top: 1.5rem;
}


.tag {
    color: $color-tag;
    display: inline-block;
    border-radius: .5rem;
    background-color: $bg-color-tag;
    padding: .2rem .5rem .3rem;
    margin: .23rem .1rem;
    text-transform: uppercase;
}

.container-media {
    border-radius: 0.5rem;
    background-color: $color-tag;
    aspect-ratio: 16/ 9;
    width: 100%;
    height: auto;

    @include mixins.mq(medium) {
        grid-column: 7 / 13;

    }

    @include mixins.mq(large) {

        grid-column: 6 / 12;
    }
}