$breakpoints-list: (
    small : 320px,
    medium: 640px,
    large: 1024px,
    xlarge: 1440px
);
$font-family-title: 'Roboto Condensed';
$font-family-text: 'Roboto';
$primary-color: #9300FF;
$secundary-color: #393939;
// variables web copy
$color-title: #4c4c4c;
$color-text :#7e666c;
$bg-color-white-95: #F5F5F5;
$font-title: 'Roboto Condensed';
$font-text: 'Roboto';



//colors for gradiente
$gradient-dark-color: rgba(2, 0, 36, 1) 0%;
$gradient-princiapl-color: #9300FF 100%;
//for the header
$header-height: 72px;

// variables para tag
$color-tag: #5A00A8;
$bg-color-tag: #E4CCFF;
// 
$purple-dark: #5A00A8;
$dark-purple: #5A00A8;