$breakpoints-list: (
    small : 320px,
    medium: 640px,
    large: 1024px,
    xlarge: 1440px
);
$font-family-title: 'Roboto Condensed';
$font-family-text: 'Roboto';

$primary-color: #9300FF;

$secundary-color: #393939;

//colors for gradiente
$gradient-dark-color: rgba(2, 0, 36, 1) 0%;
$gradient-princiapl-color: #9300FF 100%;
//for the header
$header-height: 72px;